@font-face {
    font-family: 'BigersideExpanded';
    src: url('./Bigerside Expanded.otf') format('opentype');
}

body {
    background-color: #0b0a0f;
    color: #f0f3f7;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.developerName {
    font-family: 'BigersideExpanded';
}

.nav-link {
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #007bff;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.hover-effect:hover i,
.hover-effect:hover span {
    transform: scale(1.1);
    color: #007bff;
    transition: transform 0.2s, color 0.2s;
}

.container-nav {
    position: fixed;
    top: 5px;
    left: 80%;
    width: auto;
    z-index: 1000;
    background: linear-gradient(to right, #07182b, #010322e1);
    border: 3px solid #007bff;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 30px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateX(-50%) translateY(5px);
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  

  @media (max-width: 991px) {
    .container-nav {
      width: 100%;
      top: 2; /* Full width for small screens */
      left: 50%; 
      height: 100%;/* Align to the left of the screen */
      padding-left: 15px; /* Adjust padding for smaller screens */
      padding-right: 15px;
      background: transparent; /* Transparent background on small screens */
      border: none; /* Remove border on small screens */
      text-align: center; /* Keep text centered */
      box-shadow: none; /* Remove shadow on small screens */
      transition: background-color 0.3s ease; /* Transition for background */
    }
  }

.container-nav.open {
    background: linear-gradient(to right, #07203dcc, #010322e1);
     /* Dark background color */
}

.collapse:not(.show) {
  display: none; /* Default hidden state for collapsed elements */
}
  

.container-nav.hidden {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px); /* Slight vertical shift when hidden */
    pointer-events: none;
}


.hover-zoom {
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;

}

.hover-zoom:hover {
    transform: scale(1.1);
    color: #007bff;
}

.card {
    background-color: transparent;
    color: white;
}



.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 0%;

    background: #007bff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;

    opacity: 0;

}

.timeline.visible::after {
    height: 100%;

    opacity: 1;

}

.eaContainer {
    padding: 10px 50px;
    position: relative;
    width: 40%;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s, transform 1s;
}

.eaContainer.visible {
    opacity: 1;
    transform: translateY(0);
}

.eaTextBox {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    background: #141411;
    border: 2px solid #007bff;
}

.left-container {
    left: 11%;
}

.right-container {
    left: 50%;
}

.eaContainer img {
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    background-color: #141411;
    border: 2px solid #007bff;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.eaTextBox h4 {
    font-weight: 600;
}

.left-container-arrow,
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.left-container-arrow {
    border-left: 15px solid #007bff;
    right: -15px;
}

.right-container-arrow {
    border-right: 15px solid #007bff;
    left: -15px;
}

@media screen and (max-width: 600px) {

    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px
    }

    .eaContainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .eaTextBox {
        font-size: 13px;
    }

    .right-container,
    .left-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 0%;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #007bff;
        border-left: 0;
        left: -15px;
    }
}